In [1]:
import pandas as pd
import numpy as np
import time

In [3]:
df = pd.read_csv('AAPL.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-06-10,47.952499,48.842499,47.904999,48.145000,47.119289,104883600
1,2019-06-11,48.715000,49.000000,48.400002,48.702499,47.664913,107731600
2,2019-06-12,48.487499,48.992500,48.347500,48.547501,47.513214,73012800
3,2019-06-13,48.674999,49.197498,48.400002,48.537498,47.503426,86698400
4,2019-06-14,47.887501,48.397499,47.575001,48.185001,47.158440,75046000